body {
    font-family: sans-serif;
    background-color: #e7f0f8;
    display: flex;
    min-height: 100dvh;
    justify-content: center;
    padding: 20px;
    transition: hover 0.3s ease;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 44px;
    margin-top: 20px;
    transition: hover 0.3s ease;
}

.header {
    flex:auto;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-around;
}

.header h1 {
    font-size: 45px;
    align-items: center;
    display: flex;
    color: #6366f1;
    gap:10px;
    margin-left: -20px;
}

.theme-btn {
    background-color: #f1f5f9;
    border: none;
    border-radius: 10px;
    transition: hover 0.3s ease;
    color: #1e293b;
    padding: 10px 14px;
    margin-right: -20px;
    transition: hover 0.3s ease;
    font-size: 0.5cm;
    cursor: pointer;
}

.theme-btn:hover {
    background-color: #6c66da;
    color: #e0e7ff;
}

.stats {
    display: flex;
    background: #f1f5f9;
    padding: 16px;
    border-radius: 12px;
    justify-content: space-around;
    margin-bottom: 30px;
}

.stats-count {
    text-align: center;
}

.stats-number {
    display: block;
    font-size: 0.7cm;
    font-weight: 500;
    color: #6366f1;
}

.stats-label {
    font-size: 0.5cm;
    color: #4c5b70;
    letter-spacing: 0.5px;
}

.input {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    border-radius: 12px;
    padding: 10px;
    transition: hover 0.3s ease;
    background: #f1f5f9;
}

#task-input {
    background: transparent;
    font-size: 0.5cm;
    border: none;
    color: #1e293b;
    border-radius: 6px;
    flex: auto;
}

#task-input::placeholder {
    color: #83868a;
}

.add-btn {
    background-color: #d9e6f1;
    border-color: #c8cfda;
    border-radius: 10px;
    transition: hover 0.3s ease;
    color: #1e293b;
    padding: 10px 14px;
    transition: hover 0.3s ease;
    font-size: 0.5cm;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #6c66da;
    color: #e0e7ff;
}

.tasks-list {
    margin-bottom: 20px;
}

/*.tasks-list {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 16px;
    background: #f1f5f9;
}*/

.empty-state {
    text-align: center;
    padding: 40px 20px;
    color: #64748b;
}

.empty-state i {
    font-size: 2cm;
}

.empty-state p {
    font-size: large;
}

.filter-btns {
    display: flex;
    justify-content: center;
}

.filter-btn {
    border-radius: 8px;
    border: none;
    font-size: medium;
    padding: 5px;
    color: #1e293b;
    transition: hover 0 ease;
    cursor: pointer;
}

.filter-btn:hover {
    background: #a5a1f7;

}
.clear-btn {
    border-radius: 8px;
    border: none;
    font-size: medium;
    padding: 5px;
    color: red;
    cursor: pointer;
}

.clear-btn:hover {
    background: rgb(240, 154, 154);
}

.footer {
    text-align: center;
    padding:8px 12px;
    margin-top: 20px;
    color: #2d394d;
}