body {
    font-family: sans-serif;
    background-color: #f8fafc;
    display: flex;
    min-height: 100dvh;
    justify-content: center;
    padding: 20px;
    transition: hover 0.3s ease;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 54px;
    margin-top: 20px;
    transition: hover 0.3s ease;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.header h1 {
    font-size: 24px;
    align-items: center;
    display: flex;
    color: #6366f1;
    gap: 10px
}

.theme-btn {
    background-color: #f1f5f9;
    border: none;
    border-radius: 10px;
    transition: hover 0.3s ease;
    color: #1e293b;
    padding: 10px 14px;
    transition: hover 0.3s ease;
}

.theme-btn:hover {
    background-color: #6c66da;
    color: #e0e7ff;
}

.stats {
    display: flex;
    background: #f1f5f9;
    padding: 16px;
    border-radius: 12px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.